<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.mook.app.dao.CheckInRecordMapper">

    <!--find方法-->
    <select id="find" resultType="edu.nju.mook.app.model.CheckInRecord">
        select
          count(*)
        from checkinrecord
        <where>
            <if test="checkinDate !=null and checkinDate != ''">
                and year(checkin_date) = #{checkinDate.getYear()}
                and month(checkin_date) = #{checkinDate.getMonth()}
            </if>
            <if test="workerId !=null and workerId !=''">
                and worker_id = #{workerId}
            </if>
        </where>
    </select>

    <!--插入语句-->
    <insert id="insert">
        insert into checkinRecord (
        worker_id,
        checkin_date,
        del_flag,
        )values(
        #{workerId},
        #{checkinDate}
        '0'
        )
    </insert>

</mapper>