<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.mook.app.dao.ConsumeRecordMapper">

    <select id="findAll" resultType="edu.nju.mook.app.model.ConsumeRecord">
        select
        member_id as 'memberId',
        consume_total as 'consumeTotal',
        consume_discount as 'consumeDiscount',
        consume_date as 'consumeDate',
        del_flag as 'delFlag'
        from consumerecord
    </select>

    <select id="find" resultType="edu.nju.mook.app.model.ConsumeRecord">
        select
        member_id as 'memberId',
        consume_total as 'consumeTotal',
        consume_discount as 'consumeDiscount',
        consume_date as 'consumeDate',
        del_flag as 'delFlag'
        from consumerecord
        <where>
            <if test="memberId !=null and memberId != ''">
                and member_id = #{memberId}
            </if>
            <if test="cosumeDate !=null and consumeDate != ''">
                and consume_date = #{consumeDate}
            </if>
        </where>
        limit 1
    </select>

    <!--更新操作-->
    <update id="update">
        update consumerecord set
        member_id = #{memberId},
        consume_total = #{consumeTotal},
        consume_discount = #{consumeDiscount},
        consume_date = #{consumeDate},
        where id = #{id}
    </update>

    <update id = "delete" parameterType="java.lang.Long">
        update worker set
        del_flag = '1'
        where id = #{id}
    </update>
</mapper>