<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.mook.app.dao.DepositMapper">

    <select id="find" resultType="edu.nju.mook.app.model.Deposit">
        select
        member_id as 'memberId',
        deposit_money as 'depositMoney',
        grand_money as 'grandMoney',
        deposit_date as 'depositDate',
        remain_balance as 'remainBalance',
        del_flag as 'delFlag'
        from deposit
        <where>
            <if test="memberId !=null and memberId != ''">
            and member_id = #{memberId}
            </if>
        </where>
    </select>

    <!--插入语句-->
    <insert id="insert">
        insert into deposit (
        member_id,
        deposit_money,
        grand_money,
        deposit_date,
        remain_balance,
        del_flag
        )values(
        #{memberId},
        #{depositMoney},
        #{grandMoney},
        #{depositDate},
        #{remainBalance},
        '0'
        )
    </insert>

</mapper>